{% extends 'bootstrap.html' %}

{% load bootstrap4 %}

{% block bootstrap4_content %}

<nav id='navigationBarTop' class="hide-in-iframe navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">EVH Account</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'poll:list' %}">Umfragen <span class="sr-only">(current)</span></a>
      {# <a class="nav-item nav-link" href="{% url 'blackboard:index' %}">Anzeigen <span class="sr-only">(current)</span></a> #}
    </div>
  </div>
  {% if user.is_staff %}
  <div class="navbar-nav">
    <form class="form-inline" method="get" action="/admin/auth/user/">
      <input type="text" class="form-control" id="q" name="q" placeholder="Nutzer suchen">
    </form>
  </div>
  {% endif %}
  {% if user.is_authenticated %}
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% if user.is_impersonate %}
        {{ request.user }} ({{ request.impersonator }})
      {% else %}
        {{user}}
      {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'account:profile' %}">Benutzerprofil</a>
          {% if user.is_staff %}
            <a class="dropdown-item" href="{% url 'admin:index' %}">Django-Admin</a>
          {% endif %}
          {% if user.is_impersonate %}
            <a class="dropdown-item" href="/impersonate/stop?next={{request.get_full_path | urlencode}}">Logout (Verwalteter Nutzer)</a>
          {% else %}
            <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
          {% endif %}
        </div>
  </div>

  {% else %}
  <a class="btn btn-primary" href="{% url 'account:login'%}">Login</a>
  {% endif %}
</nav>


<!--
<div class="pt-3 pb-3 mb-2" style="width: 100%; background-color: #f8d7da; border-bottom: 3px solid red; border-top: 3px solid red; font-size: 1.5rem; line-height: 1.5; font-family: 'Times New Roman',Times,serif; font-style: italic;">
  <div class="container">
    <strong>Wichtig:</strong> Bis Mittwoch könnt ihr eure Antworten in der Diskussion überarbeiten.
  </div>
</div>
-->

<!--
<div class="pt-3 pb-3 mb-2" style="width: 100%; background-color: #99d8c9; border-bottom: 3px solid green; border-top: 3px solid green; font-size: 1.5rem; line-height: 1.5; font-family: 'Times New Roman',Times,serif; font-style: italic;">
  <div class="container">
    <strong>Wichtig:</strong> Bis Mittwoch könnt ihr eure Antworten in der Diskussion überarbeiten.
  </div>
</div>
-->


 <div class="container">
   <h1>{% block title %}(no title){% endblock %}</h1>
   
   {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

   {% block content %}(no content){% endblock %}
 </div>

{% endblock %}
