{% extends 'base.html' %}

{% load macros %}
{% load bootstrap4 %}

{% block title %}
  Übersicht über die EVH Dienste
{% endblock %}


{% block content %}
  {% if not user.is_authenticated %}
  <p>Um Zugriff auf die Online-Dienste des ecovillage hannover e.G. zu
  bekommen musst du dich mit <strong>deinem EVH Account</strong>
  einloggen. Wenn du ein Mitglied der Genossenschaft bist, solltest du
  bereits einen Aktivierungscode und Hinweise zur Accounterzeugung von
  uns erhalten haben. Solltest du, obwohl du Mitglied bist, keinen
  Aktivierungscode von uns erhalten haben, schreib uns eine Mail
  an <a href="mailto:support@my-evh.de">support@my-evh.de</a>. Sobald
  du deinen Zugang aktiviert hast, kannst du dich bei unseren Diensten
  einloggen.</p>
  <h2>Häufig gestellte Fragen und ihre Antworten (anklicken)</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-left: 20px">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h3 class="panel-title">
                    <a class="first" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        1. Was ist ein EVH-Account?
                        <span> </span>
                    </a>
                </h3>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>Das sind deine Zugangsdaten zu den unterschiedlichen online-Diensten, die wir im ecovillage hannover nutzen. Dieser EVH-Account besteht aus deinem <strong>Login</strong> "vorname.nachname" (ohne Anführungszeichen, alles klein geschrieben, Punkt in der Mitte nicht vergessen) und dem Passwort was dir beim erstellen des EVH-Accounts zugesendet wurde. Wenn du dies vergessen hast oder nicht findest, kannst du beim Account "<a href="https://account.my-evh.de/account/password_reset/">Passwort vergessen</a>" anklicken und du bekommst ein neues.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h3 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2. Welche Dienste kann ich mit dem EVH-Account nutzen?
                        <span> </span>
                    </a>
                </h3>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <p>Siehe Kachel-Übersicht weiter unten. Darüber hinaus arbeiten wir bereits an weiteren Diensten.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h3 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3. Wie bekomme ich solch einen EVH-Account?
                        <span> </span>
                    </a>
                </h3>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <p>Wenn du noch kein Genossenschaftsmitglied bist, wende dich bitte an deine/n AG-Gastgeber*in. Wenn du ein Mitglied der Genossenschaft bist, solltest du bereits einen Aktivierungscode und Hinweise zur Accounterzeugung von uns erhalten haben.
    Solltest du, obwohl du Mitglied bist, keinen Aktivierungscode von uns erhalten haben, schreib uns eine Mail an <a href="mailto:support@my-evh.de">support@my-evh.de</a>. Sobald du deinen Zugang aktiviert hast, kannst du dich bei unseren Diensten einloggen.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h3 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        4. Was tun, wenn ich keine Einladung / keinen Aktivierungscode für einen EVH-Account bekommen habe?
                        <span> </span>
                    </a>
                </h3>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <p>Der EVH-Account ist für Genossenschaftsmitglieder und Menschen die im Prozess aktiv dabei sind.
    Wenn du noch kein Genossenschaftsmitglied bist, wende dich bitte an deine/n AG-Gastgeber*in. Wenn du ganz frisch erst Mitglied bist, kann es sein, dass du noch nicht in unsere Datenbank eingepflegt worden bist. Solltest du schon länger Mitglied sein oder wenn es eilig ist (z.B. weil eine Abstimmung oder Terminanmeldung eilig ist), wende dich bitte an unseren Support und wir finden gemeinsam eine Lösung: <a href="mailto:support@my-evh.de">support@my-evh.de</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
                <h3 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        5. Ich habe eine Einladung erhalten, finde diese aber nicht wieder.
                        <span> </span>
                    </a>
                </h3>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <p>Wenn du bereits einen EVH-Account erstellt hast, brauchst du die Einladungsmail nicht mehr.
    Wenn du die Einladungsmail nicht wiederfindest und noch keinen EVH-Account erstellt hast, wende dich bitte an unseren Support und wir finden gemeinsam eine Lösung: <a href="mailto:support@my-evh.de">support@my-evh.de</a></p>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
                <h3 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        6. Wir sind mehrere Personen (z.B. Familie) und haben aber weniger EVH-Accounts als Personen, wieso?
                        <span> </span>
                    </a>
                </h3>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <p>Der EVH-Account ist an eine individuelle EMail-Adresse geknüpft. Das heißt, dass pro EMail-Adresse nur ein EVH-Account möglich ist. Grundsätzlich hat jedes Genossenschaftsmitglied eine eigene Stimmberechtigung nach § 31 unserer
                    <a href="https://short.my-evh.de/satzung">Satzung</a>. Dies gilt auch für Kinder, Ehepartner*innen, etc. wenn diese Mitglied der Genossenschaft sind. Daher ist unsere dringende Empfehlung, dass jedes Mitglied eine eigene individualle Mailadresse angibt. Wenn ihr dies nachreichen möchtet, wendet euch bitte an die Mitgliederverwaltung: <a href="mailto:mitglieder@ecovillage-hannover.de">mitglieder@ecovillage-hannover.de</a></p>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeven">
                <h3 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        7. Ich habe mein Passwort nicht mehr, was nun?
                        <span> </span>
                    </a>
                </h3>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body">
                    <p>Wenn du oben rechts auf den "Login" gehst, findest du auf der nächsten Seite auch den Button "Passwort-Vergessen". Hier startest du den Vorgang um ein neues Passwort zu erhalten.
                </div>
            </div>
        </div>

    </div>
  

  <br>  
  
{% else %}
  <p class="alert alert-success">Du bist mit deinem EVH Account ({{user}}) eingeloggt.
  </p>
  <div class="card card-light-bg mb-3" >
    <div class="card-blok" style="background-color: #f8d7da;">
      <h3 class="card-header" style="color: rgb(114, 28, 36);">Wichtige und aktuelle Links</h3>
      <p>
      <ul>
        <li>Bei <strong>Technischen Fragen oder Problemen</strong>: Schicke eine Mail an <a href="mailto:support@my-evh.de">support@my-evh.de</a></li>
      </ul>
      </p>
  </div>
  </div>
  {%endif %}

{% macro service name icon body=""%}
    <div class="col-sm-4">
        <div class="card card-light-bg">
          <h3 class="card-header">{{name}}</h3>
          <img class="card-img-top" style="width: 50%; margin:auto; padding-top:1em; padding-bottom:1ex;" src="{{icon}}">
          <div class="card-block">
            {{body}}
          </div>
        </div>
      </div>
{% endmacro %}
  

<h2 class="pt-3 pb-3">Dienste</h2>
  <div class="row">
    {% if not user.is_authenticated %}
      {% macro_block service "EVH-Account" "/static/imgs/account.svg"%}
        {% macro_kwarg body %}
          <p>Erstelle einen Account mit einem Erstellungscode.</p>
          <a href="https://account.my-evh.de/account/create" class="btn btn-primary">Account erstellen</a>
          <a href="{% url 'account:login' %}" class="btn btn-primary">Einloggen</a>
        {% endmacro_kwarg %}
      {% endmacro_block %}
    {% else %}
      {% macro_block service "Umfragetool" "/static/imgs/survey.png"%}
        {% macro_kwarg body %}
            <p>Nimm an Umfragen, Terminvergaben und Abstimmungen teil. Aktuell hast du <span class="badge badge-info">{{unvoted_polls}} unbeantwortete Fragen</span> in <span class="badge badge-info">{{unvoted_pcs}} Umfragen</span>.</p>
            <a href="{% url 'poll:list' %}" class="btn btn-primary">Umfragen und Abstimmungen</a>
        {% endmacro_kwarg %}
      {% endmacro_block %}
      {% macro_block service "Webchat" "/static/imgs/element-logo.svg"%}{% macro_kwarg body %}
        <p>Hier kannst du mit einzelnen AGs und Teams direkt ins Gespräch kommen.</p>
        <p>
          <a href="https://chat.my-evh.de" class="btn btn-primary">Webchat öffnen</a>
        </p>
        {% endmacro_kwarg %}{% endmacro_block %}
        {% macro_block service "Handbuch" "/static/imgs/help.svg"%}{% macro_kwarg body %}
        <p>Wir haben eine Anleitung für unsere Online-Dienste zusammen gestellt. Diesen findest du in unserer Cloud. Du musst dich auch dort mit deinem EVH Account einloggen.</p>
        <p>
          <a href="https://cloud.my-evh.de/f/44044" class="btn btn-primary">Handbuch und Schulung</a>
        </p>
      {% endmacro_kwarg %}{% endmacro_block %}
    {% endif %}
  </div>

  {% if user.is_authenticated %}
    <h2 class="pt-3 pb-3">Dienste für Gremienmitglieder und AG Gastgeber</h2>
    <div class="row">

      {% macro_block service "Nextcloud" "/static/imgs/Nextcloud.png"%}{% macro_kwarg body %}
        <p>In der Nextcloud können Dateien geteilt, Termineumfragen erstellt, und Aufgabenlisten gepflegt werden.<strong>Achtung!</strong> Dies ist ein Link auf die neue Nextcloud (grün). Es sind noch nicht alle Dateien migriert.</p>
        <p>
          <a href="https://cloud.my-evh.de/" class="btn btn-primary">Nextcloud öffnen</a>
        </p>
      {% endmacro_kwarg %}{% endmacro_block %}
      {% macro_block service "Webmail" "/static/imgs/mail.svg"%}{% macro_kwarg body %}
        <p>Falls du ein persöhnliches EVH-Postfach hast oder ein Funktionspostfach betreust, kannst du deine Nachrichten im Webmail lesen.</p>
        <p>
          <a href="https://cloud.my-evh.de/apps/rainloop" class="btn btn-primary">Webmail öffnen</a>
        </p>
      {% endmacro_kwarg %}{% endmacro_block %}
     </div>
  {% endif %}

{% endblock %}
