{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
 Übersicht über die EVH Dienste
{% endblock %}


{% block content %}

  <div class="card card-light-bg" style="width: 20rem;">
    <h3 class="card-header">Webchat</h3>
    <img class="card-img-top" style="width: 50%; margin:auto; padding-top:1em; padding-bottom:1ex;" src="/static/riot-logo-hero.svg">
    <div class="card-block">
      <p>Motivierender Text...</p>
      
      <a href="https://chat.my-evh.de" class="btn btn-primary">Webchat Öffnen</a>
    </div>
  </div>
</a>

{% endblock %}
