passlib~=1.7
django~=3.2
python-ldap~=3.4
django-bootstrap4~=22.1
django-auth-ldap~=4.1
django-guardian~=2.4
django-markdownify~=0.9
django-taggit~=3.0
django-impersonate~=1.8
django-cors-headers~=3.12
django-macros~=0.4
django-csp~=3.7
psycopg2~=2.9
mailmanclient~=3.3
