
{% extends "base.html" %}

{% load bootstrap4 %}
{% load markdownify %}

{% block title %} {{ poll_collection.name }}{% endblock %}

{% block content %}

  {% if not poll_collection.is_published %}
    <div class="alert alert-danger">
      Die Umfrage ist unsichtbar.
    </div>
  {% endif %}

  {% if not poll_collection.is_active %}
    <div class="alert alert-info">
      Die Umfrage ist beendet.
    </div>
  {% endif %}


  <style>
    table, td, th {
    border: 1px solid black;
    }
    td { padding: 3px;}

  </style>

  <div class="w-80">
    {% if can_change %}
      <a href="{% url 'admin:poll_pollcollection_change' poll_collection.id %}">
        <span class="float-right btn btn-danger">Bearbeiten</span>
      </a>
    {% endif %}



    {{ poll_collection.description | markdownify  }}

  </div>

  <p>
    <hr/>
    <form method="GET" action="{% url 'poll:view' poll_collection.pk %}">
      <div class="row">
        <div class="col-sm-2">
          <strong>Schlagwörter-Filter:</strong>
        </div>
        <div class="col-sm-10">
          {% if available_tags %}
            {% for tag in available_tags%}
              {% if tag == search_tag %}
                <a href="?q={{search_q}}" class="mb-2 btn btn-warning">{{tag}} (x)</a>
              {% else %}
                <a href="?q={{search_q}}&tag={{tag}}" class="mb-2 btn btn-secondary">{{tag}}</a>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if search_p or search_q or search_tag%}
            <a href="?search_p=" class="btn mb-2 btn-warning">Alle anzeigen</a>
          {% endif %}
        </div>
        <div class="col-sm-12 form-group row mt-4">
          <label class="col-sm-2 col-form-label" for="q"><strong>Freitextsuche:</strong></label>
          <div class="col-sm-8">
            <input type="text" class="form-control mb-2 mr-sm-2" id="q" name="q" value="{{search_q}}"/>
          </div>
          <button type="submit" class="btn btn-primary">Los</button>
          <input type="hidden" name="tag" value="{{ search_tag }}"/>
        </div>
      </div>
    </form>
</span>
</p>

{% if not poll_forms %}
  <p><em>Keine Fragen für die gegebenen Kriterien gefunden.</em></p>
{% endif %}

{% for form in poll_forms %}
  <div class="card card-light-bg mb-3">
    <h3 id="poll{{form.instance.id}}" class="card-header">
      {{form.instance.number}}. {{form.instance.question}} <a href="#poll{{form.instance.id}}">&#x1F517;</a>
      <span class="float-right">
        {% if not form.instance.is_published %}<span class="badge badge-warning">Unsichtbar</span> {% endif %}
        {% if form.user_voted %}<span class="badge badge-info">Abgestimmt</span> {% endif %}
        {% if can_change %}<a href="{% url 'admin:poll_poll_change' form.instance.id %}"><span class="badge badge-danger">Bearbeiten</span></a>{% endif %}
      </span>
    </h3>
    <div class="card-block p-3">
      <div class="row mb-3">
        <div class="col-md-12">{{form.instance.description | markdownify }}</div>
        {% if form.instance.tags.names %}
          <div class="col-md-8">
            <strong>Schlagworte: </strong>
            {% for tag in form.instance.tags.names %}
              <a href="?tag={{tag}}&q={{search_q}}" class="badge {% if search_tag == tag %}badge-warning{% else %}badge-secondary{% endif %}">{{tag}}</a> {%endfor%}
          </div>
          {% endif %}
      </div>
      <div class="row">
        <div class="{% if form.show_results  %}col-md-7{% else %}col-md-12{% endif %}">
          <form method="POST" action="{% url 'poll:vote' form.instance.pk %}">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}
            {% if can_vote and poll_collection.is_active and form.instance.is_published %}
              {% bootstrap_button "Abstimmen" button_type="submit" button_class="btn-info" %}
            {% endif %}
            <input type="hidden" name="next" value="{{ next }}?tag={{search_tag}}&q={{search_q}}#poll{{form.instance.id}}" />
          </form>
        </div>
        {% if form.show_results %}
        <div class="col-md-5 poll-result">
           {% if not form.instance.is_text %}
            {% for item, value, percent in form.instance.results %}
              <li>{{ item.value }} {% if not form.instance.is_prio %}<span class="float-right"><em>({{item.vote_count}} Stimmen)</em></span><br/>{% endif %}
                {% if form.instance.show_percent %}
                  <div class="progress mb-2">
                    <div class="progress-bar bg-info" style="width: {{percent}}%" role="progressbar"  aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100">
                      {% if form.instance.is_prio %}
                        {{value}}/5.0
                      {% else %}
                        {{percent}}%
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          {% endif %}
          <div class="total_votes">Stimmen: <b>{{ form.instance.vote_count }}</b></div><br>
        </div>
        {% endif %}
        {% if can_analyze and form.instance.is_text %}
        <div class="col-md-12">
          {% for vote in form.instance.votes %}
          <div class="row border-top mt-4">
            <div class="col-md-1"><strong>NutzerIn</strong></div>
            <div class="col-md-11">{{ vote.text | markdownify}}</div>
          </div>
          {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}

{% block css %}
  <style type="text/css">
    .poll-result .total_votes {
    float: right;
    padding-top: 10px;
    }

    .poll-result ul li {
    margin: 10px 0;
    }


  </style>
{% endblock %}
