
{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %} {{ poll_collection.name }}{% endblock %}

{% block content %}

{% if not poll_collection.is_published %}
<div class="alert alert-danger">
  Die Umfrage ist unsichtbar.
</div>
{% endif %}
  
{% if not poll_collection.is_active %}
<div class="alert alert-info">
  Die Umfrage ist beendet.
</div>
{% endif %}



{% autoescape off %}
  <p>
    {{ poll_collection.description }}
  </p>
{% endautoescape %}

<p><em>Hinweis:</em> Dies ist <strong>keine</strong> geheime Umfrage.
  Die zusammengefassten Ergebnisse und die Freitextkommentare sind für die Nutzer <em>{{poll_collection.visible_results}}</em> sichtbar.
</p>

{% for form in poll_forms %}
    <div class="card card-light-bg mb-3">
      <h3 class="card-header">{% if not form.instance.is_published %}<span class="badge badge-secondary">Unsichtbar</span> {% endif %}{{form.instance.question}}</h3>
      <div class="card-block p-3">
        <p>{{form.instance.description}}</p>

        <div class="row">
          <div class="col-md-6">
            <form method="POST" action="{% url 'poll:vote' form.instance.pk %}">
              {% csrf_token %}
              {% bootstrap_form form layout='inline' %}
              {% if poll_collection.is_active and form.instance.is_published %}
                {% buttons submit='Abstimmen' reset='Zurücksetzen'%}{% endbuttons %}
              {% endif %}
              <input type="hidden" name="next" value="{{ next }}" />
            </form>
          </div>
          <div class="col-md-6 poll-result">
            <div class="total_votes">Stimmen: <b>{{ form.instance.vote_count }}</b></div><br>
            {% if show_results and not form.instance.is_text %}
	      {% for item, percent in form.instance.results %}
	        <li>{{ item.value }}<br/>
                  <div class="progress">
                    <div class="progress-bar w-{{percent}}" role="progressbar"  aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100">
                      {{percent}}%
                    </div>
                  </div>
	        </li>
	      {% endfor %}
            {% endif %}
          </div>
          {% if show_results and form.instance.is_text %}
            {% for vote in form.instance.votes %}
              <div>
                <strong>Nutzer:</strong> {{vote.text | escape}}
              </div>
              <hr/>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
{% endfor %}
{% endblock %}

{% block css %}
  <style type="text/css">
    .poll-result .total_votes {
      float: right;
      padding-top: 10px;
    }

    .poll-result ul li {
      margin: 10px 0;
    }


  </style>
{% endblock %}
