{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
EVH-Account Login
{% endblock %}

{% block content %}
<p>Um Zugriff auf die Online-Dienste des ecovillage hannover e.G. zu bekommen musst du dicht mit deinem EVH Account einloggen. Wenn du ein Mitglied der Genossenschaft bist, solltest du bereits einen Aktivierungscode und Hinweise zur Accounterzeugung von uns erhalten haben. Solltest du, obwohl du Mitglied bist, keinen Aktivierungscode von uns erhalten haben, schreib uns eine Mail an <a href="mailto:support@my-evh.de">support@my-evh.de</a>. Sobald du deinen Zugang aktiviert hast, kannst du dich bei unseren Diensten einloggen.<p>
  
  {% if form.errors %}
    <p>Dein Benutzername/Passwort Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'account:login' %}">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons submit='Anmelden' %}
    <a class="float-right btn btn-primary" href="{% url 'account:password_reset'%}">Passwort vergessen</a>
    {% endbuttons %}
    
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  {# <p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
{% endblock %}
