{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
Passwort zurücksetzen
{% endblock %}


{% block content %}

<div class="card bg-light p-2 m-3">
  <h3>Accountinformationen</h3>
  <p>
    <strong>Benutzername:</strong> {{user.username}}<br/>
    <strong>E-Mailaddresse:</strong> {{user.email}}
  </p>
  {% if password %}
  <p>
    <strong>Passwort:</strong> {{password}}
  </p>
  {% endif %}
  <p>
    Das Passwort wurde dir ebenfalls <strong>per Mail</strong> zugesandt.
  </p>

  <p><a class="btn btn-primary" href="{% url 'index' %}">Zur Dienstübersicht</a></p>
</div>





{% endblock %}
