{% load i18n %}{% autoescape off %}
Hallo!

Du erhälst diese E-Mail, weil du auf {{site_name}} ein neues Passwort
beantragt hast. Bitte klicke auf den folgenden Link um ein neues
Passwort zu setzen. Wenn du dies tust, wird das Passwort für deinen
EVH Account geändert. Dies führt dazu, dass dein Passwort
für alle EVH Dienste (z.B. Umfragetool, Webseite) geändert wird.

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

Das ecovillage hannover Team

{% endautoescape %}
