{% extends "base.html" %}

{% block title %}Anzeigen{% endblock %}
{% block content %}

<p><em>Hier haben wir die Möglichkeit geschaffen, dass die Mitglieder
des EVH Prozesses (Klein-)anzeigen zu schalten. Jeder Mensch mit einem
    EVH Account  kann auf die Anzeigen antworten.</em><p>

  <a href="{% url 'blackboard:create' %}" class="btn btn-info">Neue Anzeige schalten</a>

{% for group, group_items in items %}
<h2>Kategorie: {{group}}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titel</th>
      <th scope="col">Datum</th>
      <th scope="col">Ersteller</th>
    </tr>
  </thead>
  <tbody>
{% for item in group_items %}
 {% if item.owner == request.user or item.is_published %}
<tr {% if item.owner == request.user %}class="table-success"{% endif %}>
  <td>{{item.id}}</td>
  <td><a href="{% url 'blackboard:view' item.id %}">
      {% if not item.is_published %}<span class="badge badge-warning">Inaktiv</span>{% endif %}
      {{item.name}}
    </a>
    </td>
  <td>{{item.created_at }}</a></td>
  <td>{{item.owner}}</td>
</tr>
{% endif %}
{% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}
