{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
Gruppe: {{group}}
{% endblock %}


{% block content %}
  <div class="container">

{% if False %}

<h2>Kommunikationswerkzeuge</h2>
<form method="POST" action="{% url 'account:edit_group' group.name %}">
  {% csrf_token %}
  {% bootstrap_form group_profile_form layout='inline' %}
  {% bootstrap_button "Speichern" button_type="submit" button_class="btn-info" %}
</form>
{% endif%}

<h2>Mitglieder</h2>

<p>Mitglieder einer Gruppe sind Menschen, die bei der Gruppe mitmachen oder mitarbeiten wollen. Wenn du jemanden zum Mitglied einer Gruppe machst, so erhält dieser Mensch <strong>erweiterte Rechte</strong>. Daher ist die Gruppenmitgliedschaft vom reinen Interesse an einer Gruppe zu unterscheiden. Ein guter Indikator für Gruppenmitgliedschaft, ist das mehrfache Besuchen eines Gruppentreffens.</p>

<h3>Mitglied hinzufügen</h3>
<p>Wenn ein Teilnehmer bereits einen EVH-Account hat, kannst du ihn über das folgende Feld der Gruppe hinzufügen!</p>
<form method="GET" action="{% url 'account:group_member_add' group.name %}">
  {% csrf_token %}
  <div class="form-group row mt-4">
    <div class="col-md-8">
      <input type="text" class="form-control" name="user" placeholder="Nutzername oder E-Mailaddresse">
    </div>
    <div class="col-md-2">
      {% bootstrap_button "Hinzufügen" button_type="submit" button_class="btn-info" %}
    </div>
  </div>
</form>


<h3>Mitglied einladen</h3>
<p>Wenn ein Teilnehmer noch <strong>keinen EVH-Account hat</strong>, kannst du ihm einen Einladungslink schicken, über den sie/er einen EVH-Account anlegen kann und direkt Mitglied der Gruppe wird. <strong>Verwende dieses Feature mit Vorsicht, da wir ansonsten doppelte Accounts bekommen! Genossenschaftsmitglieder haben immer bereits einen Account</strong></p>
<form method="GET" action="{% url 'account:group_member_invite' group.name %}">
  {% csrf_token %}
  <div class="form-group row mt-4">
    <div class="col-md-3">
      <input type="text" class="form-control" name="vorname" placeholder="Vorname">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" name="nachname" placeholder="Nachname">
    </div>
    <div class="col-md-3">
      <input type="email" class="form-control" name="email" placeholder="E-Mailaddresse">
    </div>
    <div class="col-md-2">
      {% bootstrap_button "Einladen" button_type="submit" button_class="btn-info" %}
    </div>
  </div>
</form>


<h3>Mitgliedsliste</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Username</th>
        <th>Aktion</th>

      </tr>
    </thead>
    <tbody>
      {% for member in members %}
        <tr>
          <td>{{member.vorname}}</td>
          <td>{{member.nachname}}</td>
          <td>{{member.username}}</td>
          <td><a href="{% url 'account:group_member_remove' group.name member.username %}?next={{request.path}}"><span class="badge badge-danger">Entfernen</span></a></td>
        </tr>
      {% endfor %}
    </tbody>
</table>

{% if mlist_discuss or mlist_news %}
<hr/>
<h2>Kommunikationstool: Mailinglisten</h2>
<p>Über Mailinglisten kannst du Nachrichten an die Mitglieder der Gruppe schicken und die Gruppenmitglieder können untereinander in Austausch treten. Ganz allgemein hat eine <em>Mailingliste</em> eine Addresse und eine Liste an Abonementen. Schreibt jemand eine Mail an die Addresse der Liste, so bekommen alle Abonementen die Nachricht. Für deine Gruppe, sind aktuell folgende Mailinglisten installiert:</p>
<ul>
  {% if mlist_discuss %}
  <li><strong>{{mlist_discuss.fqdn_listname}}</strong> ({{mlist_discuss.member_count}} Abonenten) -- Auf diser Diskussionsliste sind alle Mitglieder der Gruppe automatisch Abonennten. Jedes Mitglied hat hier das Recht eine Mail an alle anderen zu senden. Diese Liste ist zur Disksussion innerhalb der Gruppe gedacht.</li>
  {% endif %}
  {% if mlist_news %} <li>
    <p><strong>{{mlist_news.fqdn_listname}}</strong>
    ({{mlist_news.member_count}} Abonenten) -- Auf diese
    Ankündigungsliste sind alle Mitglieder der Gruppe automatisch
    Abonennten. Zusätzlich könen weitere Interessierte die
      Liste abonniert haben (<a href="https://list.my-evh.de/postorius/lists/{{mlist_news.list_id}}/">Selbsteintragung</a>,
      <a href="https://list.my-evh.de/postorius/lists/{{mlist_news.list_id}}/mass_subscribe/">Eintragung durch Dich</a>). Nur du kann Nachrichten an diese  Mailingliste schicken, da sie dafür gedacht ist Ankündigungen an alle Interessierten zu machen.</p>
  </li> {%  endif %}
</ul>
{% endif %}
  </div>
{% endblock %}
