{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
Gruppe: {{group}}
{% endblock %}


{% block content %}
  <div class="container">

<h2>Mitgliedsliste ({{members |length}} Personen)</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
        <tr {% if member.username in owners %}class="table-success"{% endif %}>
          <td>{{member.vorname}}</td>
          <td>{{member.nachname}}</td>
          <td>{{member.username}}</td>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
  </div>
{% endblock %}
