{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
Benutzerprofil
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card m-2 p-2">
      <strong>Deine EVH Accountdaten</strong>
      <ul>
        <li><strong>Vorname:</strong> {{user.first_name}}</li>
        <li><strong>Nachname:</strong> {{user.last_name}}</li>
        <li><strong>Benutzername:</strong> {{user.username}}</li>
        <li><strong>E-Mail:</strong> {{user.email}}</li>
      </ul>
      {% if managed_users %}
      <strong>Deine verwalteten Nutzer</strong>
      <ul>
        {% for u in managed_users %}
        <li><a href="{% url 'account:impersonate' u.username %}">{{u.vorname}} {{u.nachname}}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="card m-2 p-2">
      <strong>Deine EVH Accounteinstellungen</strong>
      <hr/>
      <form method="POST" action="{% url 'account:user_profile_save' %}"> 
        {% csrf_token %}
        {% bootstrap_form user_profile_form %}
        {% bootstrap_button "Speichern" button_type="submit" button_class="btn-info" %}
      </form>
    </div>
  </div>


  {% if own_groups %}
  <div class="col-md-6">
    <div class="card m-2 p-2">
      <strong>Du verwaltest folgende Gruppen:</strong><ul>
        {% for group in own_groups %}
        <li><a href="{% url 'account:group' group%}">{{group}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div class="col-md-6">
    <div class="card m-2 p-2">
      <strong>Du bist Mitglied in folgenden Gruppen:</strong><ul>
        {% for group in groups %}
        {% if group != 'ldap-user' %}
        <li>{{group}}</li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if mlists %}
  <div class="col-md-6">
    <div class="card m-2 p-2">
      <strong>Deine Mailinglisten-Abonnements</strong>
      <ul>
        {% for mlist in mlists %}
        <li>{{mlist.fqdn_listname}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>




{% endblock %}
